{% extends 'base.html.twig' %}

{% block body %}
    <div class="container d-flex flex-grow-1">
        <div class="d-flex flex-grow-1 justify-content-center align-self-center">
            <div class="mt-4 row d-flex">
                <div class="col-md-12">
                    <p class="h3">Just enter the image you want to upload and press «Submit».</p>
                    <p class="h4 mb-3">Simple, fast and easy, that's 424 ! </p>
                    {% for flashMessage in app.session.flashbag.get('success') %}
                        <div class="alert alert-success">
                            {{ flashMessage|raw }}&nbsp;
                            <i class="far fa-clipboard is-clickable" onclick="copyToClipboard()"></i>
                            <span class="is-hidden font-weight-bold" id="link-copied">Link copied</span>
                        </div>
                    {% endfor %}
                    {% for flashMessage in app.session.flashbag.get('danger') %}
                        <div class="alert alert-danger">
                            {{ flashMessage|raw }}&nbsp;
                        </div>
                    {% endfor %}

                    {{ form_start(form) }}
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                    <p>NOTE: Max weight is 25Mb</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
<script>
    function copyToClipboard() {
    var text = document.getElementById('link').href;
    navigator.clipboard.writeText(text)
    .then(function () {
    document.getElementById('link-copied').style.display = 'inline';
});
}
</script>
{# WARNING: DO NOT SHORTEN <SCRIPT> TAG OR LOADING WILL FAIL #}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
<script>
    $(document).ready(function () {

    bsCustomFileInput.init();
})
</script>
{% endblock %}