{% extends 'base.html.twig' %}

{% block title %}URL Shortener{% endblock %}
{% block body %}
    <div class="container-fluid d-flex flex-grow-1">
        <div class="d-flex flex-column flex-grow-1 justify-content-center align-self-center">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="display-1">
                        <strong>
                            Simple, fast and easy, that's 424 !
                        </strong>
                    </h1>
                </div>
            </div>
            <div class="mt-4 row d-flex">
                <div class="col-md-12 h1">
                    Just enter the URL you want to shorten and press «Submit».
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {% for flashMessage in app.session.flashbag.get('success') %}
                        <div class="alert alert-success">
                            {{ flashMessage|raw }}&nbsp;
                            <i class="far fa-clipboard is-clickable" onclick="copyToClipboard()"></i>
                            <span class="is-hidden font-weight-bold" id="link-copied">Link copied</span>
                        </div>
                    {% endfor %}
                    {% for flashMessage in app.session.flashbag.get('danger') %}
                        <div class="alert alert-danger">
                            {{ flashMessage|raw }}&nbsp;
                        </div>
                    {% endfor %}
                    {% if error is not empty %}
                        <div class="alert alert-danger">
                            {{ error }}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {{ form_start(form, {'action': path('create_link')}) }}
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
<script>
    function copyToClipboard() {
        var text = document.getElementById('link').href;
        navigator.clipboard.writeText(text)
            .then(function () {
                document.getElementById('link-copied').style.display = 'inline';
            });
    }
</script>
{% endblock %}
